@font-face {
  font-family: "HelveticaNeue";
  src: url(/fonts/HelveticaNeue.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
/* header */
.container {
  max-width: 1400px;
  padding: 0px 5px;
  margin: 0 auto;
}
.header__inner {
  background-image: url("../images/Carousel/Star-Wars-Battlefront-II-combat.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 206px;
  padding-bottom: 200px;
}
.header__about {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 566px;
  margin-bottom: 55px;
}
.header__about-inner {
  display: flex;
  flex-direction: column;
}
.header-text__title {
  font-family: "HelveticaNeue";
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
.header-text__discribe {
  font-family: "HelveticaNeue";
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.header__slayder {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1274px;
  max-height: 24px;
  margin-bottom: 55px;
  cursor: pointer;
}
.header__button {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; 
  max-width: 844px; 
}
.header__trailer {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  width: 138px;
  height: 38px;
  background: #8DD83D;
  padding: 8px 24px 9px 19px;
  border-radius: 4px;
  margin-right: 13px;
}
.header__game {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  width: 148px;
  height: 38px;
  background: linear-gradient(#686C6F,#373A3C);
  padding: 8px 19px 9px 19px;
  border-radius: 4px;
}
.header__indicator-slayder {
  display: block;
  position: relative;
  top: 158px;
}
.header__indicator {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
}
.header__indicator-inner1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8DD83D;
  margin-left: 10px;
}
.header__indicator-inner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:1px solid #8DD83D;
  margin-left: 10px;
}
/* nav class="menu" */
.menu {
  margin: 0 auto;
} 
.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px 168px 16px 163px;
  background: #373A3C;
  border-radius: 4px;
}
.menu__logo img {
  width: 96px;
  height: 29px;
  cursor: pointer;
} 
.menu__logo-inner{
  display: flex;
  justify-content: space-between;
  align-items: center
} 
.menu__list{
  max-width: 685px;
}  
.menu__list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.menu__list-item a{
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 16px;
  color: #48555B;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.menu__list-item a:hover{
  color: #FFFFFF;
}
 .menu__list-item + .menu__list-item {
  margin-left: 25px;
}
.menu__list-item input {
  width: 210px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
input::placeholder {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 21px;
  color: #435766;
  padding-left: 16px;
  opacity: 0.4;
}
.menu__list-shape {
  padding-left: 9px;
}
.menu__list-shape1 {
  padding-right: 9px;
}
.container-end{
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-self: flex-end;
}
.container__menu-end{
  display: flex;
  background: gray;
  width: 1390px;
  height: 3px;
  margin-top: -209px;
  z-index: 2;
} 
/* <section class="about"> */
.section__rectangle {
  margin: 0 auto;
  background: linear-gradient(#686C6F,#373A3C);
}
.section__rectangle-text {
  text-align: center;
  font-family: "HelveticaNeue";
  color: #FFFFFF;
  padding-top: 64px;
  padding-bottom: 43px;
}
.rectangle__text-big {
  font-size: 48px;
  line-height: 56px;
}
.rectangle__text-small {
  font-size: 36px;
  line-height: 42px;
}
.section__rectangle-box {
  margin: 0 auto;
  padding-bottom: 163px;
  max-width: 1082px;
}
.rectangle__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rectangle__box-inner {
  background-color: #FFFFFF;
  border: 1px solid #8DD83D;
  border-radius: 4px;
  /* margin-right: 64px; */
  max-width: 320px;
}
.rectangle__inner {
  text-align: left;
  padding-left: 22px;
  padding-top: 16px;
  font-family: "HelveticaNeue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;;
}
.rectangle__box-inner a {
  text-align: left;
  padding-left: 22px;
  padding-top: 16px;
  font-family: "HelveticaNeue";
  font-size: 24px;
  line-height: 28px;
  color: #435766;
}
.rectangle__button {
  width: 278px;
  height: 60px;
  text-align: center;
  background: #8DD83D;
  border-radius: 4px;
  margin: 38px 21px 27px 21px;
  cursor: pointer;
}
.section__best {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  color: #fff;
  padding: 19px 23px 20px;
}
 .rectangle__box-mixer {
  padding: 60px 55px 59px;
}
.rectangle__box-gold {
  padding: 33px 59px;
}  