@font-face {
  font-family: "HelveticaNeue";
  src: url(/fonts/HelveticaNeue.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
    box-sizing: border-box;
}
button {
  border: 0;
}
.container {
  max-width: 1400px;
  padding: 0px 5px;
  margin: 0 auto;
}
.carousel__inner {
  background-image: url("../images/Carousel/Star-Wars-Battlefront-II-combat.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 206px;
  padding-bottom: 200px;
  max-width: 1400px; 
}
.carousel__inner-text{
  padding-left: 831px;
}
.carousel-text__title {
  font-family: "HelveticaNeue";
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
.carousel-text__discribe {
  font-family: "HelveticaNeue";
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 13px;
}
.carousel__user-com {
  width: 390px;
  height: 95px;
  margin-bottom: 20px;
}
.carousel__trailer {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  width: 138px;
  height: 38px;
  background: #8DD83D;
  padding: 8px 24px 9px 19px;
  border-radius: 4px;
  margin-right: 13px;
}
.carousel__game {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  width: 148px;
  height: 38px;
  background: linear-gradient(#686C6F,#373A3C);
  padding: 8px 19px 9px 19px;
  border-radius: 4px;
}
